/*----------------------Globalne-----------------------------*/
body
{
    display: flex;
    flex-direction: column;
}
hr
{
    width: 100%;
}
h1
{
    display: flex;

    margin: 0;

    margin-left: auto;
    margin-right: auto;
}
img
{
    display: flex;
}
/*---------------------------------------------------*/

/*------------------------Header---------------------------*/
header
{
    display: flex;

    width: 100%;
    height: 30%;
}

header img
{
    width: 100%;
    height: 100%;
}
/*---------------------------------------------------*/

/*-----------------------Main----------------------------*/
main
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

/*-----------------------Main Formularz----------------------------*/
main #Formularz
{
    display: flex;
    flex-direction: column;

    width: 15%;
    height: 100%;

    background-color: yellow;
}
main #Formularz section
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}
/*---------------------------------------------------*/

/*-----------------------Main Twój WYbór----------------------------*/
main #TwojWybor
{
    display: flex;
    flex-direction: column;

    width: 85%;
    height: 100%;

    background-color: gray;
}
main #TwojWybor img
{
    width: 75%;
    height: 55%;

    margin-left: auto;
    margin-right: auto;
}
/*----------------------Main TwójWybó Wycena-----------------------------*/
main #TwojWybor #Wycena
{   
    display: flex;
    flex-direction: column;
    justify-content: right;

    width: 55%;
    height: 45%;

    margin-left: 42%;
}
main #TwojWybor #Wycena p
{
    display: flex;
    justify-content: right;
    
    width: 100%;

    margin: 0;
    margin-top: 10px;

    font-size: 2.5vh;

    text-justify: right;
}
main #TwojWybor #Wycena div
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 10%;

    margin-top: 10px;
}
main #TwojWybor #Wycena div #NapisSumy
{
    display: flex;

    width: 28%;
    height: 100%;

    margin: 0;
    margin-left: auto;
}
main #TwojWybor #Wycena div #Suma
{
    display: flex;
    justify-content: left;

    width: 50%;
    height: 100%;

    margin: 0;
}
main #TwojWybor #Wycena div #Kreska
{
    display: flex;

    width: 100%;
    height: 5px;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/

/*---------------------------------------------------*/
